<section class='TodoSection'>
  <div class='TodoHeader'>
  </head>
    <h2 class='TodoSection-title'> <%= section_title %></h2>
    <p class='Fraction_Complete'><%= todos.completed %>/<%=todos.count%></p>

  </div>

  <ul class= 'Todo_List'>
    <% todos.order(:due_date).each do |todo|%>

      <% if (not todo.completed or not todo.overdue?) %>

        <div class='Todo_Div'>

          <%= form_with(url: "todos/#{todo.id}", method: 'put') do %>

            <input type="checkbox" <%=todo.completed? ? "checked" : ""%>
             class="MarkTodo" name="completed"
             onclick="this.form.submit()">

          <% end %>

          <li class='TodoItem-todo'
          style = "text-decoration: <%= todo.completed ? "line-through" : "none"%>" > <%= todo.todo_text %> </li>

          <% if show_due_date%>
            <p class='TodoItem-date'><%= todo.due_date.to_s(:short) %></p>
          <% end %>

          <a class="TodoItem-delete" href="javascript:void(0)">
            <%= form_with(url: "/todos/#{todo.id}" , method: "delete") do %>
              <input type = 'image' src='trashcan.svg' >
            <% end %>
          </a>
        </div>
      <% end %>
    <% end %>
  </ul>
</section>
